/* CSS Document */

body {
	margin : 0px;
	background-color : #f1e8e3;
}

#test {
	color: aqua;
}

#masthead {
	color : white;
	background-color : #FF5F00;
	height : 80px;
	padding-left : 15px;
	padding-top : 15px;
	font-size: 32px;
}

#time {
	color :  black;
}

#dateform {
	display: none;
}

.goalbox {
	background-color: rgb(255, 94, 0);
	color : azure;
	padding-bottom: 2px;
	right: 80%
}

.goalheader{
	color : rgb(27, 10, 0);
	background-color: rgb(252, 218, 186);
}

.form{
	background-color : orangered;
}
.deletebutton{
	background-color : transparent;
	color: white;
	border : none;

}
.deletebutton:hover{
	color : #959799;
}